---
---
<section class="autoservis-features">
    <div class="container">
        <div class="features-grid">
            <div class="feature-box">
                <div class="feature-icon"><img src="/img/icon-autoservis.svg" alt="Ikona"></div>
                <div class="feature-text">Máme autoservis s 15.<br>letou praxí.</div>
            </div>
            <div class="feature-box">
                <div class="feature-icon"><img src="/img/icon-autoservis.svg" alt="Ikona"></div>
                <div class="feature-text">Provádíme lehké i<br>náročné opravy aut</div>
            </div>
            <div class="feature-box">
                <div class="feature-icon"><img src="/img/icon-autoservis.svg" alt="Ikona"></div>
                <div class="feature-text">Máme autoservis s 15.<br>letou praxí.</div>
            </div>

            <div class="feature-box">
                <div class="feature-icon"><img src="/img/icon-autoservis.svg" alt="Ikona"></div>
                <div class="feature-text">Máme autoservis s 15.<br>letou praxí.</div>
            </div>
            <div class="feature-box">
                <div class="feature-icon"><img src="/img/icon-autoservis.svg" alt="Ikona"></div>
                <div class="feature-text">Máme autoservis s 15.<br>letou praxí.</div>
            </div>
            <div class="feature-box">
                <div class="feature-icon"><img src="/img/icon-autoservis.svg" alt="Ikona"></div>
                <div class="feature-text">Máme autoservis s 15.<br>letou praxí.</div>
            </div>

            <div class="feature-box">
                <div class="feature-icon"><img src="/img/icon-autoservis.svg" alt="Ikona"></div>
                <div class="feature-text">Máme autoservis s 15.<br>letou praxí.</div>
            </div>
            <div class="feature-box">
                <div class="feature-icon"><img src="/img/icon-autoservis.svg" alt="Ikona"></div>
                <div class="feature-text">Máme autoservis s 15.<br>letou praxí.</div>
            </div>
            <div class="feature-box">
                <div class="feature-icon"><img src="/img/icon-autoservis.svg" alt="Ikona"></div>
                <div class="feature-text">Máme autoservis s 15.<br>letou praxí.</div>
            </div>
        </div>
    </div>
</section>