---
---
<section class="autoservis-services">
    <div class="container services-container">
        <div class="services-left">
            <h3 class="services-subtitle">Autoservis ve Sviadnově</h3>
            <h2 class="services-title">Nabízíme tyto služby</h2>
            <div class="services-img-wrapper">
                <img src="/img/autoservis-big.png" alt="Autoservis Sviadnov" class="services-img">
            </div>
        </div>
        <div class="services-right">
            <ul class="services-list">
                <li>kompletní servisní služby, lehké i náročné servisní opravy</li>
                <li>střední i generální opravy motorů a výměny motorů a převodovek</li>
                <li>diagnostiku a programování vozidel</li>
                <li>měření a seřízení geometrie vozidla</li>
                <li>čištění a plnění klimatizace</li>
                <li>diagnostiku a programování vozidel</li>
                <li>měření a seřízení geometrie vozidla</li>
                <li>čištění a plnění klimatizace</li>
                <li>diagnostiku a programování vozidel</li>
                <li>měření a seřízení geometrie vozidla</li>
                <li>čištění a plnění klimatizace</li>
                <li>diagnostiku a programování vozidel</li>
                <li>měření a seřízení geometrie vozidla</li>
                <li>čištění a plnění klimatizace</li>
            </ul>
        </div>
    </div>
</section>