---
---
<section class="autoservis-features">
    <div class="container">
        <div class="features-grid">
            <div class="feature-box">
                <div class="feature-icon"><img src="/img/icon-as-praxe.svg" alt="Praxe"></div>
                <div class="feature-text">Máme autoservis s 15. letou praxí.</div>
            </div>
            <div class="feature-box">
                <div class="feature-icon"><img src="/img/icon-as-opravy.svg" alt="Opravy"></div>
                <div class="feature-text">Provádíme lehké i náročné opravy aut všech značek.</div>
            </div>
            <div class="feature-box">
                <div class="feature-icon"><img src="/img/icon-as-zvedaky.svg" alt="Zvedáky"></div>
                <div class="feature-text">Autoservis je vybavený pěti zvedáky.</div>
            </div>

            <div class="feature-box">
                <div class="feature-icon"><img src="/img/icon-as-karoserie.svg" alt="Karoserie"></div>
                <div class="feature-text">Karosářské i lakýrnické práce, rovnací stolice, výměny prahů a lemů</div>
            </div>
            <div class="feature-box">
                <div class="feature-icon"><img src="/img/icon-as-diagnostika.svg" alt="Diagnostika"></div>
                <div class="feature-text">Základem autoservisu je diagnostika.</div>
            </div>
            <div class="feature-box">
                <div class="feature-icon"><img src="/img/icon-as-geometrie.svg" alt="Geometrie"></div>
                <div class="feature-text">Provádíme laserovou geometrii vozidel.</div>
            </div>

            <div class="feature-box">
                <div class="feature-icon"><img src="/img/icon-as-pneuservis.svg" alt="Pneuservis"></div>
                <div class="feature-text">Co bychom to byli za autoservis, kdybychom nedělali kompletní pneuservis.
                </div>
            </div>
            <div class="feature-box">
                <div class="feature-icon"><img src="/img/icon-as-klimatizace.svg" alt="Klimatizace"></div>
                <div class="feature-text">V létě máme rádi chládek. Plníme a opravujeme autoklimatizace.</div>
            </div>
        </div>
    </div>
</section>