---
---
<section class="blog">
        <div class="container">
            <div class="blog-header">
                <h2 class="section-title blog-title">Články na blogu</h2>
                <a href="#" class="btn btn-light blog-header-button">Ukázat vše</a>
            </div>
            <div class="blog-grid">
                <article class="blog-item">
                    <div class="blog-item-img-container">
                        <img src="https://picsum.photos/seed/blog1/600/400"
                            alt="Zasíláme díly všech velikostí od malých po celé motory" class="blog-item-img">
                        <span class="blog-item-date">1.1.2022</span>
                    </div>
                    <div class="blog-item-content">
                        <h3 class="blog-item-title"><a href="#">Zasíláme díly všech velikostí od malých po celé
                                motory</a></h3>
                        <p class="blog-item-excerpt">Použitá světla, blatníky, interiérové prvky, motorové části i celé
                            motory. Pečlivě vše zabalíme. Motory zasíláme na paletě.</p>
                    </div>
                </article>
                <article class="blog-item">
                    <div class="blog-item-img-container">
                        <img src="https://picsum.photos/seed/blog2/600/400" alt="Rozesíláme díly do 24h po celé ČR a SR"
                            class="blog-item-img">
                        <span class="blog-item-date">1.1.2022</span>
                    </div>
                    <div class="blog-item-content">
                        <h3 class="blog-item-title"><a href="#">Rozesíláme díly do 24h po celé ČR a SR</a></h3>
                        <p class="blog-item-excerpt">Použitá světla, blatníky, interiérové prvky, motorové části i celé
                            motory. Pečlivě vše zabalíme. Motory zasíláme na paletě.</p>
                    </div>
                </article>
                <article class="blog-item">
                    <div class="blog-item-img-container">
                        <img src="https://picsum.photos/seed/blog3/600/400"
                            alt="Zasíláme díly všech velikostí od malých po celé motory" class="blog-item-img">
                        <span class="blog-item-date">1.1.2022</span>
                    </div>
                    <div class="blog-item-content">
                        <h3 class="blog-item-title"><a href="#">Zasíláme díly všech velikostí od malých po celé
                                motory</a></h3>
                        <p class="blog-item-excerpt">Použitá světla, blatníky, interiérové prvky, motorové části i celé
                            motory. Pečlivě vše zabalíme. Motory zasíláme na paletě.</p>
                    </div>
                </article>
            </div>
        </div>
    </section>