---
---

<article class="blog-row">
    <div class="blog-row-image"><img
            src="https://images.unsplash.com/photo-1486262715619-67b85e0b08d3?auto=format&fit=crop&q=80&w=800"
            alt="Zasíláme díly všech velikostí od malých po celé motory"></div>
    <div class="blog-row-content">

        <h2>Zasíláme díly všech velikostí od malých po celé motory</h2>
        <p>Použitá světla, blatníky, interiérové prvky, motorové části i celé motory. Pečlivě vše zabalíme. Motory
            zasíláme na paletě. Použitá světla, blatníky, interiérové prvky, motorové části i celé motory. Pečlivě vše
            zabalíme. Motory zasíláme na paletě. Použitá světla, blatníky, interiérové prvky, motorové části i celé
            motory. Pečlivě vše zabalíme. Motory zasíláme na paletě.</p>
        <div class="blog-row-bottom">
            <time datetime="2022-01-01">1.1.2022</time>
            <a href="/blog-detail" class="btn">Číst celý článek</a>
        </div>
    </div>
</article>