---
---

<section class="contact-grid-section">
    <div class="container">
        <div class="contact-grid">
            <div class="contact-card">
                <div class="contact-card-icon">
                    <img src="/img/icon-grid-likvidace.svg" alt="" />
                </div>
                <h3 class="contact-card-title">Likvidace vozidel a výkup</h3>

                <div class="contact-card-phone-wrapper">
                    <div class="contact-card-phone-icon">
                        <img src="/img/icon-phone-dark.svg" alt="Telefon" />
                    </div>
                    <div class="contact-card-phone-numbers">
                        <a href="tel:606741111">606 741 111</a>
                        <a href="tel:558655144">558 655 144</a>
                    </div>
                </div>
            </div>

            <div class="contact-card">
                <div class="contact-card-icon">
                    <img src="/img/icon-grid-vrakoviste.svg" alt="" />
                </div>
                <h3 class="contact-card-title">Autovrakoviště a náhradní díly</h3>

                <div class="contact-card-phone-wrapper">
                    <div class="contact-card-phone-icon">
                        <img src="/img/icon-phone-dark.svg" alt="Telefon" />
                    </div>
                    <div class="contact-card-phone-numbers">
                        <a href="tel:606781111">606 781 111</a>
                        <a href="tel:602660066">602 660 066</a>
                    </div>
                </div>
            </div>

            <div class="contact-card">
                <div class="contact-card-icon">
                    <img src="/img/icon-grid-autoservis.svg" alt="" />
                </div>
                <h3 class="contact-card-title">Autoservis</h3>

                <div class="contact-card-phone-wrapper">
                    <div class="contact-card-phone-icon">
                        <img src="/img/icon-phone-dark.svg" alt="Telefon" />
                    </div>
                    <div class="contact-card-phone-numbers">
                        <a href="tel:607888880">607 888 880</a>
                        <a href="tel:606741111">606 741 111</a>
                    </div>
                </div>
            </div>

            <div class="contact-card">
                <div class="contact-card-icon">
                    <img src="/img/icon-grid-pneuservis.svg" alt="" />
                </div>
                <h3 class="contact-card-title">Pneuservis</h3>

                <div class="contact-card-phone-wrapper">
                    <div class="contact-card-phone-icon">
                        <img src="/img/icon-phone-dark.svg" alt="Telefon" />
                    </div>
                    <div class="contact-card-phone-numbers">
                        <a href="tel:602781111">602 781 111</a>
                    </div>
                </div>
            </div>

            <div class="contact-card">
                <div class="contact-card-icon">
                    <img src="/img/icon-grid-prives.svg" alt="" />
                </div>
                <h3 class="contact-card-title">Půjčovna vleků</h3>

                <div class="contact-card-phone-wrapper">
                    <div class="contact-card-phone-icon">
                        <img src="/img/icon-phone-dark.svg" alt="Telefon" />
                    </div>
                    <div class="contact-card-phone-numbers">
                        <a href="tel:607888880">607 888 880</a>
                    </div>
                </div>
            </div>

            <div class="contact-card">
                <div class="contact-card-icon">
                    <img src="/img/icon-grid-autobazar.svg" alt="" />
                </div>
                <h3 class="contact-card-title">Autobazar</h3>

                <div class="contact-card-phone-wrapper">
                    <div class="contact-card-phone-icon">
                        <img src="/img/icon-phone-dark.svg" alt="Telefon" />
                    </div>
                    <div class="contact-card-phone-numbers">
                        <a href="tel:602751981">602 751 981</a>
                    </div>
                </div>
            </div>

            <div class="contact-card">
                <div class="contact-card-icon">
                    <img src="/img/icon-grid-odtah.svg" alt="" />
                </div>
                <h3 class="contact-card-title">Odtahová služba</h3>

                <div class="contact-card-phone-wrapper">
                    <div class="contact-card-phone-icon">
                        <img src="/img/icon-phone-dark.svg" alt="Telefon" />
                    </div>
                    <div class="contact-card-phone-numbers">
                        <a href="tel:606741111">606 741 111</a>
                    </div>
                </div>
            </div>

            <div class="contact-card">
                <div class="contact-card-icon">
                    <img src="/img/icon-grid-pojisteni.svg" alt="" />
                </div>
                <h3 class="contact-card-title">Pojištění vozidel / účetní</h3>

                <div class="contact-card-phone-wrapper">
                    <div class="contact-card-phone-icon">
                        <img src="/img/icon-phone-dark.svg" alt="Telefon" />
                    </div>
                    <div class="contact-card-phone-numbers">
                        <a href="tel:602741111">602 741 111</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>