---
---
<section class="cta-split">
    <div class="container cta-split-container">
        <div class="cta-card" style="background-image: url('/img/contact1.png');">
            <div class="cta-content">
                <h2 class="cta-title">Ekologická likvidace</h2>
                <ul class="cta-list">
                    <li>ZAVOLEJTE</li>
                    <li>Domluvíme cenu a termín</li>
                    <li>Odtah ZDARMA, peníze a protokol IHNED</li>
                    <li>Odhlásíme ZDARMA na úřadě</li>
                </ul>
                <a href="/likvidace" class="btn">Více informací</a>
            </div>
        </div>
        <div class="cta-card" style="background-image: url('/img/contact2.png');">
            <div class="cta-content">
                <h2 class="cta-title">Autovrakoviště Sviadnov</h2>
                <p class="cta-text">Nabízíme náhradní díly od různých značek vozidel.<br>Podívejte se, jestli
                    najdete Váš vůz.</p>
                <a href="/autovrakoviste" class="btn">Více informací</a>
            </div>
        </div>
    </div>
</section>