---
---
<section class="likvidace">
        <div class="container">
            <div class="likvidace-content">
                <h2 class="likvidace-title">Likvidace autovraků</h2>
                <div class="likvidace-grid">
                    <div class="likvidace-item">
                        <img src="img/likvidace1.png" alt="Likvidace item" class="likvidace-item-img">
                        <h3 class="likvidace-item-title">Odvezeme váš autovrak</h3>
                        <p>Váš vrak odvezeme, zaplatíme za nějÂ od 2.000,- do 100.000,-Kč. Vystavíme protokol o
                            ekologické likvidaci vozidla a zrušíme Vám zdarma i vozidlo na úřadě.</p>
                        <a href="#" class="btn likvidace-button">Více informací</a>
                    </div>
                    <div class="likvidace-item">
                        <img src="img/likvidace2.png" alt="Likvidace item" class="likvidace-item-img">
                        <h3 class="likvidace-item-title">Přijedete k nám</h3>
                        <p>Váš vrak odvezeme, zaplatíme za nějÂ od 2.000,- do 100.000,-Kč. Vystavíme protokol o
                            ekologické likvidaci vozidla a zrušíme Vám zdarma i vozidlo na úřadě.</p>
                        <a href="#" class="btn likvidace-button">Více informací</a>
                    </div>
                    <div class="likvidace-item">
                        <img src="img/likvidace3.png" alt="Likvidace item" class="likvidace-item-img">
                        <h3 class="likvidace-item-title">Autovrak určený na náhradní díly</h3>
                        <p>Ano. Váš nekompletní autovrak odvezeme a za něj dostanete peníze a osvědčení. Výkupní cena je
                            závislá na kompletnosti autovraku.</p>
                        <a href="#" class="btn likvidace-button">Více informací</a>
                    </div>
                </div>
            </div>
        </div>
    </section>