---
---
<section class="eshop">
    <div class="container">
        <div class="eshop-content">
            <h2 class="eshop-title">Náš E-shop na použité díly se ZÁRUKOU</h2>
            <div class="eshop-grid">
                <div class="eshop-item-big">
                    <img src="/img/eshop-cover.png" alt="Eshop item" class="eshop-item-img">
                    <div class="eshop-item-big-content">
                        <h3 class="eshop-item-title">Na našem E-SHOPU najdete použité díly co máme skladem, a přes
                            pár
                            kliknutí Vám je zašleme i na dobírku.</h3>
                        <a href="#" class="btn eshop-item-button">Navštívit eshop ivraky.cz</a>
                    </div>
                </div>

                <div class="eshop-grid-inner">
                    <a href="#" class="eshop-item">
                        <img src="/img/eshop-item.png" alt="Eshop item" class="eshop-item-img">
                        <h3 class="eshop-item-title">Eshop item</h3>
                    </a>
                    <a href="#" class="eshop-item">
                        <img src="/img/eshop-item.png" alt="Eshop item" class="eshop-item-img">
                        <h3 class="eshop-item-title">Eshop item</h3>
                    </a>
                    <a href="#" class="eshop-item">
                        <img src="/img/eshop-item.png" alt="Eshop item" class="eshop-item-img">
                        <h3 class="eshop-item-title">Eshop item</h3>
                    </a>
                    <a href="#" class="eshop-item">
                        <img src="/img/eshop-item.png" alt="Eshop item" class="eshop-item-img">
                        <h3 class="eshop-item-title">Eshop item</h3>
                    </a>
                    <a href="#" class="eshop-item">
                        <img src="/img/eshop-item.png" alt="Eshop item" class="eshop-item-img">
                        <h3 class="eshop-item-title">Eshop item</h3>
                    </a>
                    <a href="#" class="eshop-item">
                        <img src="/img/eshop-item.png" alt="Eshop item" class="eshop-item-img">
                        <h3 class="eshop-item-title">Eshop item</h3>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>