<footer class="site-footer">
    <div class="footer-top">
        <div class="container footer-top-container">
            <div class="footer-logo">
                <img src="/img/logo.png" alt="Autovrakoviště Sviadnov">
            </div>

            <div class="footer-contacts-hl">
                <div class="footer-contact-item">
                    <div class="contact-icon-yellow">
                        <img src="/img/icon-phone-dark.svg" alt="Telefon">
                    </div>
                    <div class="contact-text">
                        <strong>+420 602 660 066</strong>
                        <span>Po - Pá 8:00 - 16:00</span>
                    </div>
                </div>
                <div class="footer-contact-item">
                    <div class="contact-icon-yellow">
                        <img src="/img/icon-envelope-dark.svg" alt="Email">
                    </div>
                    <div class="contact-text">
                        <strong>stuchla@stuchla.cz</strong>
                    </div>
                </div>
            </div>

            <div class="footer-top-btn">
                <a href="#" class="btn btn-outline-yellow">Všechny kontakty</a>
            </div>
        </div>
    </div>

    <div class="footer-main">
        <div class="container">
            <div class="footer-columns">
                <div class="footer-col">
                    <h4 class="footer-heading">RYCHLÝ KONTAKT</h4>
                    <table class="footer-table">
                        <tr>
                            <td>Náhradní díly</td>
                            <td class="text-yellow">606 78 11 11</td>
                        </tr>
                        <tr>
                            <td>Likvidace vozidel</td>
                            <td class="text-yellow">606 74 11 11</td>
                        </tr>
                        <tr>
                            <td>Autoservis</td>
                            <td class="text-yellow">607 88 88 80</td>
                        </tr>
                        <tr>
                            <td>Pneuservis</td>
                            <td class="text-yellow">602 78 11 11</td>
                        </tr>
                    </table>
                </div>

                <div class="footer-col">
                    <h4 class="footer-heading">KDE NÁS NAJDETE</h4>
                    <p class="text-yellow">Kanceláře</p>
                    <p>Ostravská 49<br>739 25 Sviadnov</p>
                    <br>
                    <p class="text-yellow">Autovrakoviště, Likvidace vozidel, Autoservis</p>
                    <p>K čističce 500<br>739 25 Sviadnov</p>
                </div>

                <div class="footer-col">
                    <h4 class="footer-heading">OTEVÍRACÍ DOBA</h4>
                    <table class="footer-table">
                        <tr>
                            <td>Pondělí</td>
                            <td class="text-yellow">8.00 - 12.00 &nbsp; 13.00 - 16.00</td>
                        </tr>
                        <tr>
                            <td>Úterý</td>
                            <td class="text-yellow">8.00 - 12.00 &nbsp; 13.00 - 16.00</td>
                        </tr>
                        <tr>
                            <td>Středa</td>
                            <td class="text-yellow">8.00 - 12.00 &nbsp; 13.00 - 16.00</td>
                        </tr>
                        <tr>
                            <td>Čtvrtek</td>
                            <td class="text-yellow">8.00 - 12.00 &nbsp; 13.00 - 16.00</td>
                        </tr>
                        <tr>
                            <td>Pátek</td>
                            <td class="text-yellow">8.00 - 12.00 &nbsp; 13.00 - 16.00</td>
                        </tr>
                        <tr>
                            <td>Sobota</td>
                            <td class="text-yellow">Zavřeno</td>
                        </tr>
                    </table>
                </div>

                <div class="footer-col">
                    <h4 class="footer-heading">FAKTURAČNÍ ÚDAJE</h4>
                    <p>Autovrakoviště Sviadnov s.r.o.</p>
                    <p>K čističce 500<br>739 25 Sviadnov</p>
                    <br>
                    <p>IČ: 05477280<br>DIČ: CZ05477280</p>
                </div>
            </div>

            <div class="footer-ctas">
                <a href="#" class="footer-cta-box">
                    <img src="/img/icon-likvidace.svg" alt="Likvidace" class="footer-cta-icon">
                    <span>LIKVIDACE AUT</span>
                </a>
                <a href="#" class="footer-cta-box">
                    <img src="/img/icon-vrakoviste.svg" alt="Vrakoviště" class="footer-cta-icon">
                    <span>VRAKOVIŠTĚ</span>
                </a>
                <a href="#" class="footer-cta-box">
                    <img src="/img/icon-eshop.svg" alt="Eshop" class="footer-cta-icon">
                    <span>ESHOP</span>
                </a>
                <a href="#" class="footer-cta-box">
                    <img src="/img/icon-autoservis.svg" alt="Autoservis" class="footer-cta-icon">
                    <span>AUTOSERVIS</span>
                </a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container footer-bottom-container">
            <div class="copyright">
                2026 &copy; Autovrakoviště Ostrava | Frýdek-Místek | Sviadnov
            </div>
            <div class="signature">
                Vytvořeno v <a href="https://www.eline.cz" target="_blank"><img src="/img/logo-eline-white.svg"
                        alt="e-line"></a>
            </div>
        </div>
    </div>
</footer>