---
---
<section class="hero">
    <div class="hero-container">

        <div class="hero-cell">
            <img src="/img/hero1.jpg" alt="Ekologická likvidace autovraků" class="hero-cell-bg">
            <div class="hero-content">
                <h1 class="hero-title">Ekologická likvidace autovraků</h1>
                <p class="hero-text">Výkup vraků od 3.000,-kč když nám autovrak dovezete</p>
                <div class="hero-footer">
                    <a href="#" class="btn hero-button">Více informací</a>
                </div>
            </div>
        </div>

        <div class="hero-cell">
            <img src="/img/hero2.jpg" alt="Autovrakoviště" class="hero-cell-bg">
            <div class="hero-content">
                <h1 class="hero-title">Autovrakoviště</h1>
                <p class="hero-text">Použité náhradní díly se zárukou</p>
                <div class="hero-footer">
                    <a href="#" class="btn hero-button">Více informací</a>
                </div>
            </div>
        </div>

    </div>
</section>