---
---
<section class="katalog">
    <div class="container">
        <h2 class="katalog-title">Katalog vraků podle značky</h2>
        <div class="katalog-grid">
            <a href="#" class="katalog-item">
                <img src="/img/logos/logo-skoda.png" alt="Škoda" class="katalog-item-img">
                <h3 class="katalog-item-name">Škoda</h3>
            </a>
            <a href="#" class="katalog-item">
                <img src="/img/logos/logo-vw.png" alt="Volkswagen" class="katalog-item-img">
                <h3 class="katalog-item-name">Volkswagen</h3>
            </a>
            <a href="#" class="katalog-item">
                <img src="/img/logos/logo-bmw.png" alt="BMW" class="katalog-item-img">
                <h3 class="katalog-item-name">BMW</h3>
            </a>
            <a href="#" class="katalog-item">
                <img src="/img/logos/logo-audi.png" alt="Audi" class="katalog-item-img">
                <h3 class="katalog-item-name">Audi</h3>
            </a>
            <a href="#" class="katalog-item">
                <img src="/img/logos/logo-ford.png" alt="Ford" class="katalog-item-img">
                <h3 class="katalog-item-name">Ford</h3>
            </a>
            <a href="#" class="katalog-item">
                <img src="/img/logos/logo-mercedes.png" alt="Mercedes" class="katalog-item-img">
                <h3 class="katalog-item-name">Mercedes</h3>
            </a>
            <a href="#" class="katalog-item">
                <img src="/img/logos/logo-opel.png" alt="Opel" class="katalog-item-img">
                <h3 class="katalog-item-name">Opel</h3>
            </a>
            <a href="#" class="katalog-item">
                <img src="/img/logos/logo-volvo.png" alt="Volvo" class="katalog-item-img">
                <h3 class="katalog-item-name">Volvo</h3>
            </a>
            <a href="#" class="katalog-item">
                <img src="/img/logos/logo-toyota.png" alt="Toyota" class="katalog-item-img">
                <h3 class="katalog-item-name">Toyota</h3>
            </a>
            <a href="#" class="katalog-item">
                <img src="/img/logos/logo-nissan.png" alt="Nissan" class="katalog-item-img">
                <h3 class="katalog-item-name">Nissan</h3>
            </a>
            <a href="#" class="katalog-item">
                <img src="/img/logos/logo-fiat.png" alt="Fiat" class="katalog-item-img">
                <h3 class="katalog-item-name">Fiat</h3>
            </a>
            <a href="#" class="katalog-item">
                <img src="/img/logos/logo-other.png" alt="Ostatní značky" class="katalog-item-img">
                <h3 class="katalog-item-name">Ostatní značky</h3>
            </a>
        </div>
        <div class="katalog-footer"><a href="/autovrakoviste" class="btn katalog-button">Zobrazit všechny vraky</a>
        </div>
    </div>
</section>