---
---
<section class="mapa-odvozu">
    <div class="container">
        <div class="mapa-odvozu-img">
            <img src="/img/mapa-odvozu-item.svg" alt="Mapa odvozu item" class="mapa-odvozu-item-img">
        </div>

        <div class="mapa-odvozu-content">
            <h2 class="mapa-odvozu-title">Peníze za autovrak v jakémkoliv stavu.</h2>
            <h3>U nás v autovrakovišti náte jistotu, ke každému vraku máte ihned doklad o ekologické likvidaci.</h3>
            <p><strong>Odvoz i nepojízdných vraků zdarma z Moravskoslezského , Olomouckého a Zlínského
                    kraje.</strong>
                Ostrava, Frýdek-Místek , Třinec , Český Těšín , Havířov , Karviná , Opava , Nový Jičín , Kopřivnice
                ,
                Frenštát pod Radhoštěm,
                Valašské Meziříčí , Vsetín , Zlín , Přerov , Prostějov , Olomouc a ostatní města.</p>
        </div>
    </div>
</section>