---
---
<section class="nahradni-hero">
    <div class="container cta-split-container">
        <div class="cta-card" style="background-image: url('/img/hero1.jpg');">
            <div class="cta-content">
                <h2 class="cta-title">Prodej použitých dílů<br>se ZÁRUKOU</h2>
                <a href="#" class="btn">Do eshopu</a>
            </div>
        </div>
        <div class="cta-card" style="background-image: url('/img/hero2.jpg');">
            <div class="cta-content">
                <h2 class="cta-title">Prodej autovraků</h2>
                <a href="#" class="btn">Prohlédnout autovrakoviště</a>
            </div>
        </div>
    </div>
</section>