---
---
<section class="nahradni-features">
    <div class="container">
        <h2 class="nahradni-features-main-title">Prodej náhradních dílů a příslušenství</h2>
        <div class="nahradni-features-grid">
            <div class="nahradni-feature-card">
                <img src="/img/nahradni-feature-1.svg" class="nahradni-feature-icon" alt="Zasíláme díly">
                <h3 class="nahradni-feature-title">Zasíláme díly všech velikostí od malých po celé motory</h3>
                <p class="nahradni-feature-text">Použitá světla, blatníky, interiérové prvky, motorové části i celé
                    motory. Pečlivě vše zabalíme. Motory zasíláme na paletě.</p>
                <a href="#" class="btn">Více informací &rarr;</a>
            </div>
            <div class="nahradni-feature-card">
                <img src="/img/nahradni-feature-2.svg" class="nahradni-feature-icon" alt="Rozesíláme díly">
                <h3 class="nahradni-feature-title">Rozesíláme díly do 24h po celé ČR a SR</h3>
                <p class="nahradni-feature-text">Zjistíte si dostupnost daného dílu a my ho do 24h vyexpedujeme
                    dopravci. Využít k tomu můžete kontaktní formulář pod daným vozidlem.</p>
                <a href="#" class="btn">Více informací &rarr;</a>
            </div>
            <div class="nahradni-feature-card">
                <img src="/img/nahradni-feature-3.svg" class="nahradni-feature-icon" alt="Záruka na odzkoušení">
                <h3 class="nahradni-feature-title">Náhradní použité díly se zárukou na odzkoušení</h3>
                <p class="nahradni-feature-text">Dáváme 30 dní záruku na odzkoušení náhradního použitého dílu.</p>
                <a href="#" class="btn">Více informací &rarr;</a>
            </div>
        </div>
    </div>
</section>