---
---
<a href="/autovrakoviste-detail" class="product-card">
    <div class="product-img">
        <img src="https://images.unsplash.com/photo-1542282088-fe8426682b8f?auto=format&fit=crop&q=80&w=800"
            alt="Škoda Superb 1.9 TDI" />
    </div>
    <div class="product-info">
        <h3>Škoda Superb 1.9 TDI</h3>
        <p class="product-specs">AWX 96kW r.2002 zelená</p>
        <div class="product-status">
            <img src="/img/check-circle.svg" alt="Skladem">
            Skladem
        </div>
        <div class="product-card-footer">
            <div class="price-box">
                <span class="old-price">8 000 Kč</span>
                <span class="current-price">7 000 Kč</span>
            </div>
            <span class="btn">Více informací</span>
        </div>
    </div>
</a>