---
---
<section class="testimonials">
    <div class="container">
        <h2 class="section-title">Co o nás říkají zákazníci</h2>
        <div id="testimonial-slider" class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <div class="testimonial-item">
                            <div class="testimonial-rating">
                                <img src="/img/star-on.svg" alt="Star" class="star-icon">
                                <img src="/img/star-on.svg" alt="Star" class="star-icon">
                                <img src="/img/star-on.svg" alt="Star" class="star-icon">
                                <img src="/img/star-on.svg" alt="Star" class="star-icon">
                                <img src="/img/star-on.svg" alt="Star" class="star-icon">
                            </div>
                            <p class="testimonial-text">"Skvělý přístup, auto odvezli hned druhý den a peníze jsem
                                dostal na ruku. Vše proběhlo bez problémů."</p>
                            <div class="testimonial-author">Petr Novák</div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="testimonial-item">
                            <div class="testimonial-rating">
                                <img src="/img/star-on.svg" alt="Star" class="star-icon">
                                <img src="/img/star-on.svg" alt="Star" class="star-icon">
                                <img src="/img/star-on.svg" alt="Star" class="star-icon">
                                <img src="/img/star-on.svg" alt="Star" class="star-icon">
                                <img src="/img/star-on.svg" alt="Star" class="star-icon">
                            </div>
                            <p class="testimonial-text">"Potřeboval jsem náhradní díl na starou Ř kodu a tady jsem ho
                                našel za super cenu se zárukou. Doporučuji!"</p>
                            <div class="testimonial-author">Martin Dvořák</div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="testimonial-item">
                            <div class="testimonial-rating">
                                <img src="/img/star-on.svg" alt="Star" class="star-icon">
                                <img src="/img/star-on.svg" alt="Star" class="star-icon">
                                <img src="/img/star-on.svg" alt="Star" class="star-icon">
                                <img src="/img/star-on.svg" alt="Star" class="star-icon">
                                <img src="/img/star-on.svg" alt="Star" class="star-icon">
                            </div>
                            <p class="testimonial-text">"Profesionální jednání při ekologické likvidaci. Protokol
                                vystaven na místě, vše vyřízeno velmi rychle."</p>
                            <div class="testimonial-author">Jana Svobodová</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>